<!doctype html>
<html>
    <head>
        <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="main">
            <%- include("./partials/main_left.ejs") %>
            <div class="middle d-flex flex-column">
                <div class="ms-5 d-flex w-100">
                    <div class="d-flex flex-column">
                        <p class="heading">ADMIN</p>
                        <p class="mt-4 fs-5">Reports : </p>
                    </div>
                </div>
            </div>
            <table class="w-75 ms-5" border="5" cellspacing="10" cellpadding="10">
              <tr>
                <th>
                  Subjects
                </th>
                <th>
                  Reason
                </th>
                <th>
                  Delete
                </th>
                <th>
                  Ignore
                </th>
              </tr>

              
              
            </table>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            
    </body>
</html>
