<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/branch.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
    
</head>
<body>
    <div class="main">
        <%- include("./partials/main_left.ejs") %>
        <div class="branchb">
            <h1 class="h1"><span class="b">N</span>otebook</h1>
            <div class="branchc mt-3">
                <div class="textimg d-flex justify-center">
                    <a href="/branch">
                        <button type="button" class="btn btn-lg d-flex px-3 py-2" style="background: #00B9AE; color:aliceblue; border-radius:1rem;">
                            <h1 class="fs-3 fw-bold">View</h1>
                        </button>
                      </a>
                </div>
                <h2 class="mt-4 h4 ms-4 mb-4">Top Suggestions :</h2>
                <div class="row">
                    <div class="col smallimg d-flex justify-center me-5">
                        <a href="/branch">
                            <button type="button" class="btn btn-lg d-flex px-2 py-1" style="background: #00B9AE; color:aliceblue; border-radius:1rem;">
                                <h1 class="fs-4 fw-bold">View</h1>
                            </button>
                        </a>
                    </div>
                    <div class="col smallimg d-flex justify-center me-5">
                        <a href="/branch">
                            <button type="button" class="btn btn-lg d-flex px-2 py-1" style="background: #00B9AE; color:aliceblue; border-radius:1rem;">
                                <h1 class="fs-4 fw-bold">View</h1>
                            </button>
                        </a>
                    </div>
                    <div class="col smallimg d-flex justify-center me-5">
                        <a href="/branch">
                            <button type="button" class="btn btn-lg d-flex px-2 py-1" style="background: #00B9AE; color:aliceblue; border-radius:1rem;">
                                <h1 class="fs-4 fw-bold">View</h1>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="decision d-flex fixed-top flex-row-reverse ">
                <div class="d-flex flex-column">
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>