<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/branch.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <%- include("./partials/main_left.ejs") %>
        <div class="branchb">
            <h1 class="h1"><span class="b">N</span>otebook</h1>
            <div class="branchc mt-3">
                <div class="row ">
                    <% for (var i =0; i < 8 ; i++ ) { %>
                        <button type="submit" class="allign btn btn-lg d-flex col m-5 px-5 py-2 col-3" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                            <a href="notebook<%= i+1 %>"><h1 class="h3">Notebook<%= i+1 %></h1></a>
                        </button>
                    <% } %>
                </div>
            </div>
            <form method="POST" class="d-flex fixed-bottom flex-row-reverse mb-5 me-4">
                <input type="submit" class="d-inline btn ms-2" value="Upload" style="background: #00B9AE; color:aliceblue;">
                <input type="file" nmae="file" class="d-inline p-1" style="background: #00B9AE; color:aliceblue;">
            </form>
        </div>
    </div>
    
</body>
</html>