<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/branch.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <%- include("./partials/main_left.ejs") %>
        <div class="branchb">
            <h1 class="h1"><span class="b">Q/A </span>paper</h1>
            <div class="branchc mt-3">
                <div class="row ">
                    <button type="submit" class="allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <h1 class="h1">Q/A 1</h1>
                    </button>
                    <button type="submit" class="allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <h1 class="h1">Q/A 2</h1>
                    </button>
                </div>
                <div class="row ">
                    <button type="submit" class="allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <h1 class="h1">Q/A 3</h1>
                    </button>
                    <button type="submit" class="allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <h1 class="h1">Q/A 4</h1>
                    </button>
                </div>
                <div class="row ">
                    <button type="submit" class="allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <h1 class="h1">Q/A 5</h1>
                    </button>
                    <button type="submit" class="allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <h1 class="h1">Q/A 6</h1>
                    </button>
                </div>
            </div>
            <div class="fixed d-flex fixed-bottom flex-row-reverse mb-5 me-4">
                <div class="d-flex justify-center align-center ms-4" style="background: #00B9AE; color:aliceblue; width: 3.5rem; border-radius:50%;"><i class="bi bi-plus fs-1"></i></div>
                <h5>Upload your files here <br> and get featured in the <br> <span>Leaderboard</span></h5>
            </div>
        </div>
    </div>
    
</body>
</html>