<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/branch.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <%- include("./partials/main_left.ejs") %>
        <div class="branchb">
            <h1 class="h1"><span class="b">B</span>ranch</h1>
            <div class="branchc mt-5">
                <form action="/sem" class="row ">
                    <button type="submit" class="allign btn btn-lg d-flex col m-4 " style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="/branch/sem/scheme"> Information <br> Technology </a>
                    </button>
                
                    <button type="submit" class="allign btn btn-lg d-flex col m-4" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="/branch/sem/scheme"> Computer Science Engineering</a>
                    </button>

                    <button type="submit" class="allign btn btn-lg d-flex col m-4" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="/branch/sem/scheme"> Civil <br> Engineering</a>
                    </button>
                </form>
                <form action="/sem" class="row">
                    
                        <button type="submit" class="allign btn btn-lg d-flex col m-4" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                            <a href="/branch/sem/scheme"> Mechanical Engineering</a>
                        </button>
                    
                    
                        <button type="submit" class="allign btn btn-lg d-flex col m-4" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                            <a href="/branch/sem/scheme"> Electrical <br> Engineering</a>
                        </button>
                    
                    
                        <button type="submit" class="allign btn btn-lg d-flex col m-4" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                            <a href="/branch/sem/scheme"> Electronics Engineering</a>
                        </button>
                    
                </form>
                <form action="/sem" class="d-flex justify-center">
                    
                        <button type="submit" class="allign btn btn-lg d-flex  m-4 px-5" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                            <a href="/branch/sem/scheme"> Fire & Safety <br> Engineering</a>
                        </button>
                    
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>